<div class="user__box" *ngIf="service.user">
    <div class="user__header" (click)="viewUser(service.user.login)">
      <div class="user__avatar">
        <img src="{{service.user?.avatar_url}}" alt="">
      </div>
      <div class="user__description">
        <div class="user__name">{{service.user?.name}}</div>
        <div class="user__bio">{{service.user?.bio}}</div>
        <div class="user__created">Entrou em: {{service.user?.created_at | date: 'dd/MM/yyyy'}}</div>
      </div>
    </div>
    <div class="user__content">
      <div class="content__title">Lista de repositórios pessoais:</div>
      <div class="content__list">
        <a *ngFor="let repo of service.listRepo" class="content__item" href="{{repo.html_url}}"
          target="_blank">{{repo.name}}</a>
      </div>
    </div>
    <div class="user__content">
      <div class="content__title">Lista de repositórios favoritos:</div>
      <div class="content__list">
        <a *ngFor="let repo of service.listStarred" class="content__item bg-primary" href="{{repo.html_url}}"
          target="_blank">{{repo.name}}</a>
      </div>
    </div>
  </div>