
@import 'src/assets/default.scss';

.info__box{
    margin-top: 12px;
    flex: 1;
    box-shadow: $shadow;
    border-radius: 4px;
    padding: 12px;
    .info__header{
        height: 150px;
        width: 150px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .info__row{
        display: flex;
        padding: 4px 8px;
        flex-wrap: wrap;
        box-shadow: $shadow;
        margin-top: 8px;
        border-radius: 4px;
        .info__label{
            font-weight: bold;
            color: lighten($bg3, 60%);
        }
        .info__value{
            margin-left: 8px;
        }
    }
}